.menu-card {
  font-family: 'Lato', sans-serif;
  width: 256px;
  background-color: var(--light-black);
  border-radius: 0.5rem;
  box-shadow: 4px 8px 10px rgba(0, 0, 0, 0.2);
  padding: 1.5rem 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 1rem;
}

.card-img {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 0;
  padding-bottom: 1rem;
}

.card-img::before {
  content: '';
  width: 80px;
  height: 80px;
  background-color: var(--dark-red);
  border-radius: 100%;
  position: absolute;
  z-index: -1;
}

.card-img img {
  width: 140px;
  height: 140px;
}

.card-content {
  color: white;
  display: flex;
  flex-direction: column;
  padding: 1rem 1rem 0;
  border-top: 2px solid var(--red);
}

.card-info h3 {
  font-size: 1rem;
  font-weight: 700;
}

.card-info p {
  font-size: 1rem;
}

.card-info span {
  font-weight: 700;
}

.card-controls {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.card-controls form {
  display: flex;
  align-items: stretch;
}
.card-controls select {
  outline: none;
  margin-right: 0.5rem;
}

.card-controls button {
  display: flex;
  cursor: pointer;
  border-radius: 3px;
  color: white;
  background-color: var(--red);
  outline: none;
  border: none;
  padding: 0.5rem;
}

.card-controls button:active {
  transform: scale(0.98);
}

.add {
  position: relative;
}

.cart-animation {
  position: absolute;
  right: 50%;
  top: -24px;
  animation: slideup 550ms;
  transform: translateX(50%);
}

@keyframes slideup {
  from {
    top: -24px;
    opacity: 70%;
  }

  to {
    top: -48px;
    opacity: 0%;
  }
}

@media screen and (min-width: 600px) {
  .menu-card {
    margin: 2rem;
  }
}
