.about-section {
  background-color: var(--dark-black);
  padding: 4rem 1rem;
  display: flex;
  justify-content: center;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
}

.container img {
  width: 100%;
}

.container p {
  font-family: 'Lato', serif;
  font-weight: 400;
  padding: 2rem 2rem 4rem;
  background-color: var(--light-black);
  position: relative;
  margin: 0;
}

.container p::after {
  content: '美味しい';
  font-family: 'Noto Sans JP', sans-serif;
  font-size: 2.5rem;
  position: absolute;
  bottom: -2rem;
  right: 0rem;
  color: var(--red);
}

@media screen and (min-width: 1020px) {
  .container {
    flex-direction: row;
  }
  .container img {
    width: 50%;
  }
  .container p::after {
    font-size: 3rem;
    right: 2rem;
  }
}
