@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300&display=swap');

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

:root {
  --light-black: #1f1f1f;
  --dark-black: #1a1a1a;
  --dark-gray: #e5e5e5;
  --light-gray: #f1f1f1;
  --dark-red: #a34444;
  --red: #c63232;
}

body {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4 {
  margin: 0;
  padding: 0;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--dark-gray);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--red);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--dark-red);
}
