.nav {
  font-family: 'Libre Baskerville', serif;
  background-color: var(--light-black);
  padding: 1.5rem 5rem;
  display: flex;
  justify-content: center;
  position: sticky;
  top: 0;
  z-index: 3;
}

.adjustments {
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.nav ul {
  margin: 2rem 0 0 0;
  list-style-type: none;
  display: flex;
  padding: 0;
  justify-content: space-between;
}

.nav ul li {
  padding: 0 1.5rem;
}

.nav ul li a {
  letter-spacing: 0.125rem;
  color: white;
  font-size: 1rem;
  text-decoration: none;
}

@media screen and (min-width: 1020px) {
  .nav ul {
    margin: 0;
  }
  .adjustments {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
}
